---
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

// Получаем уникальные категории
const categories = [...new Set(posts.map((p) => p.data.category))];
---

<div class="footer-categories">
  <h4>Categories</h4>
  <ul>
    {
      categories.map((category) => (
        <li>
          <a href={`/category/${category}`}>{category}</a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .footer-categories {
    text-decoration: none;
    list-style: none;
    color: black;
  }

  .footer-categories:hover {
    color: blue;
  }
</style>
